<h1><%= @user.name %></h1>

<%= link_to 'Post New Product', "/users/#{@user.id}/products/new" %>

<ul>
	<% @products.each do |product| %>
	<li>
		<strong>Product:</strong> <%= product.title %><br>
		<strong>Description:</strong> <%= product.description %> <br>
		<strong> Deadline: </strong><%= product.deadline.strftime("%F %T") %> <br>
		<strong> Bids until now: </strong><%= product.minimum_bid %>

		<%=link_to 'Place New Bid',user_products_show_path(@user.id, product.id)%> <br>
		<%= link_to 'Edit', "/users/#{@user.id}/products/#{product.id}/edit" %> &nbsp
		<%= link_to('Delete', user_product_path(@user,product), method: :delete, data:{confirm: 'Are you sure?'}) %>
	</li>
	<% end %>
</ul>